.body {
    background-image: url(../Images/BackGround/BG1.jpg);
    background-size: cover;
    font-family: "Ubuntu", sans-serif;
  }
  
  .header {
    display: inline-flex;
    background-color: rgba(64, 160, 25, 0.4);
    justify-content: space-between;
    padding-top: 18px;
    width: 100%;
  }
  
  .title a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    padding: 19px 0 0 79px;
    font-size: 22px;
  }
  
  .title a:hover {
    color: #140181;
    transition: 1s;
  }
  
  .icons::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 19px;
    background-color: rgba(224, 22, 22, 0.5);
  }
  
  .icons {
    text-align: right;
    flex-grow: 1;
    padding-bottom: 17px;
  }
  
  .icons svg {
    margin-right: 27px;
    cursor: pointer;
  }
  
  .icons svg:hover path {
    fill: #140181;
    transition: 1s;
  }
  
  .login {
    padding: 3px 79px 0 27px;
  }
  
  .login,
  .login a {
    text-decoration: none;
    color: white;
    font-size: 14px;
  }
  
  .login a:hover {
    color: #140181;
    transition: 1s;
  }
  
  .main {
    position: relative;
    /*min-height: calc(100vh -58px);*/
    height: 100vh;
  }
  
  .signup-block {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    width: 324px;
    background-color: white;
    padding: 31px 60px 38px 60px;
    margin: auto;
  }
  
  .block-title {
    margin-bottom: 15px;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  
  .text-signup {
    font-size: 20px;
    font-weight: 400;
    color: #434343;
  }
  
  .text-signup::before {
    position: absolute;
    content: "";
    left: -60px;
    display: block;
    width: 18px;
    height: 18px;
    background-color: #140181;
  }
  
  .text-login {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #db8718;
  }
  
  .text-login:hover {
    text-decoration: underline;
  }
  
  .btn-block {
    display: flex;
    margin-bottom: 31px;
  }
  
  .button {
    height: 48px;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .fab {
    font-size: 35px;
    padding-right: 38px;
  }
  
  .button span {
    position: relative;
    bottom: 8px;
  }
  
  .button span::before {
    content: "";
    position: relative;
    display: inline-block;
    width: 1px;
    height: 28px;
    background-color: #0a162f;
    opacity: 0.1;
    top: 10px;
    right: 35px;
  }
  
  .btn-fb span::before {
    right: 25px;
  }
  
  .button.btn-fb {
    flex-grow: 1;
    margin-right: 2px;
    background-color: #305db8;
  }
  
  .button.btn-fb:hover {
    background-color: #022263;
  }
  
  .button.btn-Google {
    flex-grow: 1;
    margin-left: 2px;
    background-color: #df4a32;
  }
  
  .button.btn-Google:hover {
    background-color: #ab1f09;
  }
  
  .horizontal-line {
    color: #848484;
    text-align: center;
    font-size: 14px;
    margin-bottom: 16px;
  }
  .horizontal-line::before,
  .horizontal-line::after {
    position: relative;
    bottom: 3.5px;
    content: "";
    display: inline-block;
    width: 47%;
    height: 1px;
    background-color: #848484;
  }
  
  .input {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border: solid 1px #f2f2f2;
    margin-bottom: 15px;
    padding: 15px 20px;
    outline: none;
  }
  
  .input:focus {
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  }
  
  .chbx-link {
    text-decoration: none;
    color: #d87a22;
  }
  
  .btn-create {
    width: 100%;
    color: #ffffff;
    font-size: 16px;
    background-color: rgba(60, 134, 184, 0.8);
    text-align: center;
    padding: 16px 0;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .btn-theme {
    height: 24px;
 }
  